body {
    margin: 0;
    overflow: hidden; /* Hide scrollbars */
}

#image-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    border: 1px solid #ccc;
    background-image: url('Village_Creuse_Dediance.png');
    background-size: 100% 100%;
    background-position: center;
}

.movable-image {
    position: absolute;
    cursor: grab;
    user-select: none;
    width: 100px; /* Set the desired width */
    height: 100px; /* Set the desired height */
}
